{% extends "base.html.twig" %}

{% block title %}Todo lists{% endblock %}

{% block body %}
    <div id="header">
        <input type="text" readonly class="form-control-plaintext" value="{{ user.username|e }}">

        <a href="{{ logout_path('main') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-log-out"></span> Logout
        </a>
    </div>

    <div id="content">
        <h2 class="font-weight-normal">SIMPLE TODO LISTS</h2>

        <h3 class="font-weight-normal">FROM RUBY GARAGE</h3>

        <div id="projects">
            {% for project in user.projects %}
                <div class="project">
                    <div class="project-name">
                        <div>
                            <i class="fas fa-calendar-alt fa-2x"></i>
                            <p class="inner-text">{{ project.name|e }}</p>
                            <i class="fas fa-pencil-alt fa-lg"></i>
                            <i class="fas fa-trash-alt fa-lg"></i>
                        </div>
                    </div>
                    <div class="task-add">
                        <div>
                            <i class="fas fa-plus fa-2x"></i>
                            <input class="form-control-sm" type="text" placeholder="Start typing here to create a task...">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button">Add Task</button>
                            </span>
                        </div>
                    </div>
                    {% for task in project.tasks %}
                        <div class="task-name">
                            <div>
                                <span class="input-group-addon">
                                    <input type="checkbox">
                                </span>
                                <p class="inner-text">{{ task.name|e }}</p>
                                <i class="fas fa-sort fa-lg"></i>
                                <i class="fas fa-pencil-alt fa-lg"></i>
                                <i class="fas fa-trash-alt fa-lg"></i>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        <div class="button">
            <button type="button" id="add-todo-list" class="btn btn-primary">
                <i class="fas fa-plus fa-2x"></i> Add TODO list
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#add-todo-list').click(function(){
            $.ajax({
                url: '{{ path('project-create') }}',
                method: 'GET',
                dataType: 'json',
                success: function(response){
                    $("#projects").append(response);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                }
            });
        });
    </script>
{% endblock %}
