{% extends "base.html.twig" %}

{% block title %}Todo lists{% endblock %}

{% block body %}
    <div id="header">
        <input type="text" readonly class="form-control-plaintext" value="{{ user.username|e }}">

        <a href="{{ logout_path('main') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-log-out"></span> Logout
        </a>
    </div>

    <div id="content">
        <h2 class="font-weight-normal">SIMPLE TODO LISTS</h2>

        <h3 class="font-weight-normal">FROM RUBY GARAGE</h3>

        <div id="projects">
            {% for project in user.projects %}
                <div id="project-{{ project.id }}" class="project">
                    <div class="project-name">
                        <div>
                            <i class="fas fa-calendar-alt fa-2x"></i>
                            <p class="inner-text">{{ project.name|e }}</p>
                            <i class="fas fa-pencil-alt fa-lg"></i>
                            <i class="fas fa-trash-alt fa-lg"></i>
                        </div>
                    </div>
                    <div class="task-add">
                        <div>
                            <i class="fas fa-plus fa-2x"></i>
                            <input id="task-add-{{ project.id }}" class="form-control-sm" type="text" placeholder="Start typing here to create a task...">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button">Add Task</button>
                            </span>
                        </div>
                    </div>
                    <div id="tasks">
                        {% for task in project.tasks %}
                            <div id="task-{{ task.id }}" class="task-name">
                                <div>
                                    <span class="input-group-addon">
                                        <input type="checkbox">
                                    </span>
                                    <p class="inner-text">{{ task.name|e }}</p>
                                    <i class="fas fa-sort fa-lg"></i>
                                    <i class="fas fa-pencil-alt fa-lg"></i>
                                    <i class="fas fa-trash-alt fa-lg"></i>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="button">
            <button type="button" id="add-todo-list" class="btn btn-primary">
                <i class="fas fa-plus fa-2x"></i> Add TODO list
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("document").ready(function(){
            // Add Project
            $('#add-todo-list').click(function(){
                $.ajax({
                    url: '/project/create',
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        $("#projects").append(response);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });

            // Delete Project
            $('div.project-name svg.fa-trash-alt > *').click(function(){
                var id = $(this).closest('div.project').attr('id').split('-')[1];
                $.ajax({
                    url: '/project/delete/'+id,
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        $('div#project-'+id).remove();
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });

            // Add Task
            $('div.task-add button').click(function(){
                var id = $(this).closest('div.project').attr('id').split('-')[1];
                var value = $('#task-add-'+id).val();
                if (value) {
                    $.ajax({
                        url: '/task/create',
                        method: 'POST',
                        dataType: 'json',
                        data: {project_id: id, task_name: value},
                        success: function(response){
                            $('#project-'+id+' > #tasks').append(response);
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                        }
                    });
                    return;
                }
                alert('Please enter a task name!');
            });

            // Delete Task
            $('div.task-name svg.fa-trash-alt > *').click(function(){
                var id = $(this).closest('div.task-name').attr('id').split('-')[1];
                $.ajax({
                    url: '/task/delete/'+id,
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        $('div#task-'+id).remove();
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });
        });
    </script>
{% endblock %}
