{% extends "base.html.twig" %}

{% block title %}Todo lists{% endblock %}

{% block body %}
    <div id="header">
        <input type="text" readonly class="form-control-plaintext" value="{{ user.username|e }}">

        <a href="{{ logout_path('main') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-log-out"></span> Logout
        </a>
    </div>

    <div id="content">
        <h2 class="font-weight-normal">SIMPLE TODO LISTS</h2>

        <h3 class="font-weight-normal">FROM RUBY GARAGE</h3>

        <div id="projects">
            {% for project in user.projects %}
                <div data-id="{{ project.id }}" class="project">
                    <div class="project-name">
                        <i class="fas fa-calendar-alt fa-lg"></i>
                        <p class="inner-text">{{ project.name|e }}</p>
                        <input class="form-control-sm" type="text" placeholder="Start typing here to update a project...">
                        <i class="fas fa-plus-square fa-lg"></i>
                        <i class="fa fa-window-close fa-lg"></i>
                        <i class="fas fa-pencil-alt fa-lg"></i>
                        <i class="fas fa-trash-alt fa-lg" data-entity="project"></i>
                    </div>
                    <div class="task-add input-group input-group-sm">
                        <i class="fas fa-plus fa-2x"></i>
                        <input class="form-control" type="text" placeholder="Start typing here to create a task...">
                        <div class="input-group-append">
                            <span class="input-group-text">Add Task</span>
                        </div>
                    </div>
                    <div id="tasks">
                        {% for task in project.tasks %}
                            <div data-id="{{ task.id }}" class="task">
                                <span class="input-group-addon">
                                    <input type="checkbox">
                                </span>
                                <p class="inner-text">{{ task.name|e }}</p>
                                <input class="form-control-sm" type="text" placeholder="Start typing here to update a task...">
                                <i class="fas fa-plus-square fa-lg"></i>
                                <i class="fa fa-window-close fa-lg"></i>
                                <i class="fas fa-pencil-alt fa-lg"></i>
                                <i class="fas fa-sort fa-lg"></i>
                                <i class="fas fa-trash-alt fa-lg" data-entity="task"></i>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="button">
            <button type="button" id="add-todo-list" class="btn btn-primary">
                <i class="fas fa-plus fa-2x"></i> Add TODO list
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            // Add Project
            $(document).on('click', '#add-todo-list', function(){
                $.ajax({
                    url: '/project/create',
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        $("#projects").append(response);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });

            // Add Task
            $(document).on('click', '.task-add span', function(){
                var id = $(this).closest('.project').data('id');
                var value = $(this).parent().prev().val();
                if(value){
                    $.ajax({
                        url: '/task/create',
                        method: 'POST',
                        dataType: 'json',
                        data: {project_id: id, task_name: value},
                        success: function(response){
                            $('.project[data-id="'+id+'"] > #tasks').append(response);
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                        }
                    });
                    return;
                }
                alert('Please enter a task name!');
            });

            // Delete Project or Task
            $(document).on('click', '.fa-trash-alt', function(){
                var entity = $(this).data('entity');
                var id = $(this).closest('.'+entity).data('id');
                $.ajax({
                    url: '/'+entity+'/delete/'+id,
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        $('.'+entity+'[data-id="'+id+'"]').remove();
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });

            // Update Project
            $(document).on('click', '.project-name .fa-pencil-alt', function(){
                interactProductInput($(this));
            });

            $(document).on('click', '.project-name .fa-window-close', function(){
                interactProductInput($(this));
            });

            $(document).on('click', '.project-name .fa-plus-square', function(){
                var element = $(this);
                var id = element.closest('.project').data('id');
                var value = element.siblings('input').val();
                if(value){
                    $.ajax({
                        url: '/project/update',
                        method: 'POST',
                        dataType: 'json',
                        data: {project_id: id, project_name: value},
                        success: function(response){
                            element.siblings('p').text(value);
                            interactProductInput(element);
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            interactProductInput(element);
                            alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                        }
                    });
                    return;
                }
                alert('Please enter a project name!');
            });

            function interactProductInput(object){
                if(object.hasClass('fa-pencil-alt')){
                    object.siblings('p').hide();
                    object.hide();
                    object.siblings('input').show();
                    object.siblings('.fa-plus-square').show();
                    object.siblings('.fa-window-close').show();
                }else if(object.hasClass('fa-window-close')){
                    object.siblings('input').hide();
                    object.siblings('.fa-plus-square').hide();
                    object.hide();
                    object.siblings('p').show();
                    object.siblings('.fa-pencil-alt').show();
                }else if(object.hasClass('fa-plus-square')){
                    object.siblings('input').hide();
                    object.hide();
                    object.siblings('.fa-window-close').hide();
                    object.siblings('p').show();
                    object.siblings('.fa-pencil-alt').show();
                }
            }
        });
    </script>
{% endblock %}
