{% extends "base.html.twig" %}

{% block title %}Todo lists{% endblock %}

{% block body %}
    <div id="header">
        <input type="text" readonly class="form-control-plaintext" value="{{ user.username|e }}">

        <a href="{{ logout_path('main') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-log-out"></span> Logout
        </a>
    </div>

    <div id="content">
        <h2 class="font-weight-normal">SIMPLE TODO LISTS</h2>

        <h3 class="font-weight-normal">FROM RUBY GARAGE</h3>

        <div id="projects">
            {% for project in user.projects %}
                <div data-id="{{ project.id }}" class="project">
                    <div class="project-name">
                        <i class="fas fa-calendar-alt fa-lg"></i>
                        <p class="inline">{{ project.name|e }}</p>
                        <input class="form-control-sm hidden" type="text" data-target="input" placeholder="Update project...">
                        <i class="fas fa-plus-square fa-lg hidden" data-entity="project"></i>
                        <i class="fa fa-window-close fa-lg hidden"></i>
                        <i class="fas fa-pencil-alt fa-lg"></i>
                        <i class="fas fa-trash-alt fa-lg" data-entity="project"></i>
                    </div>
                    <div class="task-add input-group input-group-sm">
                        <i class="fas fa-plus fa-2x"></i>
                        <input class="form-control" type="text" placeholder="Create a task...">
                        <div class="input-group-append">
                            <span class="input-group-text">Add Task</span>
                        </div>
                    </div>
                    <div class="tasks">
                        {% for task in project.tasks %}
                            <div data-id="{{ task.id }}" class="task">
                                {% if task.isStatusActive() %}
                                    <input data-toggle="popover"
                                           type="checkbox"
                                           data-original-title="Mark task as"
                                           data-content="<a href='#' id='{{ task.id }}' class='status-done'>Done</a>"
                                           data-html="true"
                                           data-placement="left">
                                    <p class="inline">{{ task.name|e }}</p>
                                    <input class="form-control-sm hidden" type="text" data-target="input" placeholder="Update task...">
                                    <input class="form-control-sm hidden" type="text" data-target="picker{{ task.id }}" placeholder="Сhoose deadline...">
                                    <i class="fas fa-plus-square fa-lg hidden" data-entity="task"></i>
                                    <i class="fa fa-window-close fa-lg hidden"></i>
                                    <i class="fas fa-pencil-alt fa-lg"></i>
                                    <i class="fas fa-sort fa-lg"></i>
                                    <i class="fas fa-trash-alt fa-lg" data-entity="task"></i>
                                {% else %}
                                    <input class="disabled" type="checkbox">
                                    <p class="inline disabled">{{ task.name|e }}</p>
                                    <i class="fas fa-pencil-alt fa-lg disabled"></i>
                                    <i class="fas fa-sort fa-lg disabled"></i>
                                    <i class="fas fa-trash-alt fa-lg" data-entity="task"></i>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="text-centered">
            <button type="button" id="add-todo-list" class="btn btn-primary">
                <i class="fas fa-plus fa-2x"></i> Add TODO list
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            // Сhoose Deadline
            $('input[data-target^="picker"]').each(function(){
                $(this).datepicker();
            });

            // Add Project
            $(document).on('click', '#add-todo-list', function(){
                $.ajax({
                    url: '/project/create',
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        $("#projects").append(response);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });

            // Add Task
            $(document).on('click', '.task-add span', function(){
                var id = $(this).closest('.project').data('id');
                var value = $(this).parent().prev().val();
                if(value){
                    $.ajax({
                        url: '/task/create',
                        method: 'POST',
                        dataType: 'json',
                        data: {project_id: id, task_name: value},
                        async: false,
                        success: function(response){
                            var picker = $(response).find('input[data-target^="picker"]').attr('data-target');
                            $('.project[data-id="'+id+'"] > .tasks').append(response);
                            $('input[data-target="'+picker+'"]').datepicker();
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                        }
                    });
                    $(this).parent().prev().val('');
                    return;
                }
                alert('Please enter a task name!');
            });

            // Delete Project or Task
            $(document).on('click', '.fa-trash-alt', function(){
                var entity = $(this).data('entity');
                var id = $(this).closest('.'+entity).data('id');
                $.ajax({
                    url: '/'+entity+'/delete/'+id,
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        $('.'+entity+'[data-id="'+id+'"]').remove();
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });

            // Update Project or Task
            $(document).on('click', '.fa-pencil-alt', function(){
                $(this).siblings('p').hide();
                $(this).hide();
                $(this).siblings('.hidden').show();
            });

            $(document).on('click', '.fa-window-close', function(){
                $(this).siblings('.hidden').hide();
                $(this).hide();
                $(this).siblings('p').show();
                $(this).siblings('.fa-pencil-alt').show();
            });

            $(document).on('click', '.fa-plus-square[data-entity="project"]', function(){
                var id = $(this).closest('.project').data('id');
                var value = $(this).siblings('input[data-target="input"]').val();
                var elem = $(this).siblings('p');
                if(value){
                    $.ajax({
                        url: '/project/update',
                        method: 'POST',
                        dataType: 'json',
                        data: {project_id: id, project_name: value},
                        async: false,
                        success: function(response){
                            elem.text(value);
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                        }
                    });
                    $(this).siblings('input[data-target="input"]').val('');
                    $(this).siblings('.hidden').hide();
                    $(this).hide();
                    $(this).siblings('p').show();
                    $(this).siblings('.fa-pencil-alt').show();
                    return;
                }
                alert('Please enter a project name!');
            });

            $(document).on('click', '.fa-plus-square[data-entity="task"]', function(){
                var id = $(this).closest('.task').data('id');
                var value = $(this).siblings('input[data-target="input"]').val();
                var deadline = $(this).siblings('input[data-target^="picker"]').datepicker('getDate');
                var elem = $(this).siblings('p');
                if(!value && !deadline){
                    alert('Please enter a task name or a deadline!');
                    return;
                }
                if(deadline){
                    deadline = formatDate(deadline);
                    var today = formatDate(new Date);
                    if(deadline < today){
                        alert('Please enter a future deadline!');
                        return;
                    }
                }
                $.ajax({
                    url: '/task/update',
                    method: 'POST',
                    dataType: 'json',
                    data: {task_id: id, task_name: value, task_deadline: deadline},
                    async: false,
                    success: function(response){
                        elem.text(value);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
                // TODO
            });

            // Mark Task as 'Done'
            $(document).on('change', 'input[type="checkbox"]', function(){
                this.checked ? $(this).popover('show') : $(this).popover('hide');
            });

            $(document).on('click', '.status-done', function(){
                var id = $(this).attr('id');
                var elem = $('.task[data-id="'+id+'"]');
                $.ajax({
                    url: '/task/inactivate/'+id,
                    method: 'GET',
                    dataType: 'json',
                    async: false,
                    success: function(response){
                        elem.find('input[data-toggle="popover"]').prop('checked', false).addClass('disabled');
                        elem.find('p').addClass('disabled');
                        elem.find('.fa-pencil-alt').addClass('disabled');
                        elem.find('.fa-sort').addClass('disabled');
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
                $(this).parents('.popover').addClass('hide').removeClass('show');
                elem.find('.hidden').hide();
                elem.find('p').show();
                elem.find('.fa-pencil-alt').show();
            });

            function formatDate(date){
                var year = String(date.getFullYear());
                var month = String(date.getMonth() + 1).padStart(2, '0');
                var day = String(date.getDate()).padStart(2, '0');
                return [year, month, day].join('-');
            }
        });
    </script>
{% endblock %}