{% extends "base.html.twig" %}

{% block title %}Todo lists{% endblock %}

{% block body %}
    <div id="header">
        <input type="text" readonly class="form-control-plaintext" value="{{ user.username|e }}">

        <a href="{{ logout_path('main') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-log-out"></span> Logout
        </a>
    </div>

    <div id="content">
        <h2 class="font-weight-normal">SIMPLE TODO LISTS</h2>

        <h3 class="font-weight-normal">FROM RUBY GARAGE</h3>

        <div id="projects">
            {% for project in user.projects %}
                <div data-id="{{ project.id }}" class="project">
                    <div class="project-name">
                        <i class="fas fa-calendar-alt fa-lg"></i>
                        <p class="inner-text">{{ project.name|e }}</p>
                        <input class="form-control-sm" type="text" placeholder="Start typing here to update a project...">
                        <i class="fas fa-plus-square fa-lg"></i>
                        <i class="fa fa-window-close fa-lg"></i>
                        <i class="fas fa-pencil-alt fa-lg"></i>
                        <i class="fas fa-trash-alt fa-lg" data-entity="project"></i>
                    </div>
                    <div class="task-add input-group input-group-sm">
                        <i class="fas fa-plus fa-2x"></i>
                        <input class="form-control" type="text" placeholder="Start typing here to create a task...">
                        <div class="input-group-append">
                            <span class="input-group-text">Add Task</span>
                        </div>
                    </div>
                    <div id="tasks">
                        {% for task in project.tasks %}
                            <div data-id="{{ task.id }}" class="task">
                                <span class="input-group-addon">
                                    <input type="checkbox">
                                </span>
                                <p class="inner-text">{{ task.name|e }}</p>
                                <input class="form-control-sm" type="text" placeholder="Start typing here to update a task...">
                                <i class="fas fa-plus-square fa-lg"></i>
                                <i class="fa fa-window-close fa-lg"></i>
                                <i class="fas fa-pencil-alt fa-lg"></i>
                                <i class="fas fa-sort fa-lg"></i>
                                <i class="fas fa-trash-alt fa-lg" data-entity="task"></i>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="button">
            <button type="button" id="add-todo-list" class="btn btn-primary">
                <i class="fas fa-plus fa-2x"></i> Add TODO list
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            // Add Project
            $(document).on('click', '#add-todo-list', function(){
                $.ajax({
                    url: '/project/create',
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        $("#projects").append(response);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });



            // Update Project
            // $('div.project-name svg.fa-pencil-alt > *').on('click', function(){
            //     var id = $(this).closest('div.project').attr('id').split('-')[1];
            //     showProjectInput(id);
            // });
            // $('div.project-name svg.fa-plus-square > *').on('click', function(){
            //     var id = $(this).closest('div.project').attr('id').split('-')[1];
            //     var value = $(this).parent().prev().val();
            //     if (value) {
            //         $.ajax({
            //             url: '/project/update',
            //             method: 'POST',
            //             dataType: 'json',
            //             data: {project_id: id, project_name: value},
            //             success: function(response){
            //                 $('#project-'+id+' div.project-name p').text(value);
            //                 hideProjectInput(id);
            //             },
            //             error: function(jqXHR, textStatus, errorThrown){
            //                 hideProjectInput(id);
            //                 alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
            //             }
            //         });
            //         return;
            //     }
            //     alert('Please enter a project name!');
            // });
            // $('div.project-name svg.fa-window-close > *').on('click', function(){
            //     var id = $(this).closest('div.project').attr('id').split('-')[1];
            //     hideProjectInput(id);
            // });



            // Add Task
            $(document).on('click', '.task-add span', function(){
                var id = $(this).closest('.project').data('id');
                var value = $(this).parent().prev().val();
                if (value) {
                    $.ajax({
                        url: '/task/create',
                        method: 'POST',
                        dataType: 'json',
                        data: {project_id: id, task_name: value},
                        success: function(response){
                            $('.project[data-id="'+id+'"] > #tasks')            .append(response);
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                        }
                    });
                    return;
                }
                alert('Please enter a task name!');
            });

            // Delete Project and Task
            $(document).on('click', '.fa-trash-alt', function(){
                var entity = $(this).data('entity');
                var id = $(this).closest('.'+entity).data('id');
                $.ajax({
                    url: '/'+entity+'/delete/'+id,
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        $('.'+entity+'[data-id="'+id+'"]').remove();
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });



            // function showProjectInput(id){
            //     $('#project-'+id+' div.project-name p').hide();
            //     $('#project-'+id+' div.project-name svg.fa-pencil-alt').hide();
            //     $('#project-'+id+' div.project-name input').show();
            //     $('#project-'+id+' div.project-name svg.fa-plus-square').show();
            //     $('#project-'+id+' div.project-name svg.fa-window-close').show();
            // }
            // function hideProjectInput(id){
            //     $('#project-'+id+' div.project-name input').hide();
            //     $('#project-'+id+' div.project-name svg.fa-plus-square').hide();
            //     $('#project-'+id+' div.project-name svg.fa-window-close').hide();
            //     $('#project-'+id+' div.project-name p').show();
            //     $('#project-'+id+' div.project-name svg.fa-pencil-alt').show();
            // }
        });
    </script>
{% endblock %}
