{% extends "base.html.twig" %}

{% block title %}Todo lists{% endblock %}

{% block body %}
    <div id="header">
        <input type="text" readonly class="form-control-plaintext" value="{{ user.username|e }}">

        <a href="{{ logout_path('main') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-log-out"></span> Logout
        </a>
    </div>

    <div id="content">
        <h2 class="font-weight-normal">SIMPLE TODO LISTS</h2>

        <h3 class="font-weight-normal">FROM RUBY GARAGE</h3>

        <div id="projects">
            {% for project in user.projects %}
                <div data-id="{{ project.id }}" class="project">
                    <div class="project-name">
                        <i class="fas fa-calendar-alt fa-lg"></i>
                        <p class="inline">{{ project.name|e }}</p>
                        <input class="form-control-sm hidden" type="text" placeholder="Update project...">
                        <i class="fas fa-plus-square fa-lg hidden" data-entity="project"></i>
                        <i class="fa fa-window-close fa-lg hidden"></i>
                        <i class="fas fa-pencil-alt fa-lg"></i>
                        <i class="fas fa-trash-alt fa-lg" data-entity="project"></i>
                    </div>
                    <div class="task-add input-group input-group-sm">
                        <i class="fas fa-plus fa-2x"></i>
                        <input class="form-control" type="text" placeholder="Create a task...">
                        <div class="input-group-append">
                            <span class="input-group-text">Add Task</span>
                        </div>
                    </div>
                    <div class="tasks">
                        {% for task in project.tasks %}
                            <div data-id="{{ task.id }}" class="task">
                                {% if task.isStatusActive() %}
                                    <input data-toggle="popover"
                                           type="checkbox"
                                           data-original-title="Mark task as"
                                           data-content="<a href='#' id='{{ task.id }}' class='status-done'>Done</a>"
                                           data-html="true"
                                           data-placement="left">
                                    <p class="inline">{{ task.name|e }}</p>
                                    <input class="form-control-sm hidden" type="text" placeholder="Update task...">
                                    <input class="datetimepicker form-control-sm hidden" type="text" placeholder="Сhoose deadline...">
                                    <i class="fas fa-plus-square fa-lg hidden" data-entity="task"></i>
                                    <i class="fa fa-window-close fa-lg hidden"></i>
                                    <i class="fas fa-pencil-alt fa-lg"></i>
                                    <i class="fas fa-sort fa-lg"></i>
                                    <i class="fas fa-trash-alt fa-lg" data-entity="task"></i>
                                {% else %}
                                    <input class="disabled" type="checkbox">
                                    <p class="inline disabled">{{ task.name|e }}</p>
                                    <i class="fas fa-pencil-alt fa-lg disabled"></i>
                                    <i class="fas fa-sort fa-lg disabled"></i>
                                    <i class="fas fa-trash-alt fa-lg" data-entity="task"></i>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="text-centered">
            <button type="button" id="add-todo-list" class="btn btn-primary">
                <i class="fas fa-plus fa-2x"></i> Add TODO list
            </button>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            // Сhoose Deadline
            // $('.datetimepicker').each(function(){
            //     $(this).datetimepicker({
            //         lang: 'en',
            //         timepicker: false,
            //         format: 'Y/m/d',
            //         onSelectDate: function(currentTime, $input){
            //             console.log($input.val());
            //         }
            //     });
            // });

            // Add Project
            $(document).on('click', '#add-todo-list', function(){
                $.ajax({
                    url: '/project/create',
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        $("#projects").append(response);
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });

            // Add Task
            $(document).on('click', '.task-add span', function(){
                var id = $(this).closest('.project').data('id');
                var input = $(this).parent().prev();
                if(input.val()){
                    $.ajax({
                        url: '/task/create',
                        method: 'POST',
                        dataType: 'json',
                        data: {project_id: id, task_name: input.val()},
                        success: function(response){
                            $('.project[data-id="'+id+'"] > .tasks').append(response);
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                            alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                        }
                    });
                    input.val('');
                    return;
                }
                alert('Please enter a task name!');
            });

            // Delete Project or Task
            $(document).on('click', '.fa-trash-alt', function(){
                var entity = $(this).data('entity');
                var id = $(this).closest('.'+entity).data('id');
                $.ajax({
                    url: '/'+entity+'/delete/'+id,
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        $('.'+entity+'[data-id="'+id+'"]').remove();
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });

            // Update Project or Task
            $(document).on('click', '.fa-pencil-alt', function(){
                showHideInput($(this));
            });

            $(document).on('click', '.fa-window-close', function(){
                showHideInput($(this));
            });

            // $(document).on('click', '.fa-plus-square', function(){
            //     var element = $(this);
            //     var entity = $(this).data('entity');
            //     var id = $(this).closest('.'+entity).data('id');
            //     var value = element.siblings('input').val();
            //     var data = {};
            //     data[entity+'_id'] = id;
            //     data[entity+'_name'] = value;
            //     if(value){
            //         $.ajax({
            //             url: '/'+entity+'/update',
            //             method: 'POST',
            //             dataType: 'json',
            //             data: data,
            //             success: function(response){
            //                 element.siblings('p').text(value);
            //                 showHideInput(element);
            //             },
            //             error: function(jqXHR, textStatus, errorThrown){
            //                 showHideInput(element);
            //                 alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
            //             }
            //         });
            //         return;
            //     }
            //     alert('Please enter a project name!');
            // });

            // Mark Task as 'Done'
            $(document).on('change', 'input[type="checkbox"]', function(){
                this.checked ? $(this).popover('show') : $(this).popover('hide');
            });

            $(document).on('click', '.status-done', function(){
                var id = $(this).attr('id');
                var task = '.task[data-id="'+id+'"]';
                var popover = $(this).parents('.popover');
                $.ajax({
                    url: '/task/inactivate/'+id,
                    method: 'GET',
                    dataType: 'json',
                    success: function(response){
                        showHideInput($(task+' .fa-plus-square'));
                        popover.addClass('hide').removeClass('show');
                        $(task+' input[data-toggle="popover"]').prop('checked', false);
                        $(task+' input[data-toggle="popover"]').addClass('disabled');
                        $(task+' p').addClass('disabled');
                        $(task+' .fa-pencil-alt').addClass('disabled');
                        $(task+' .fa-sort').addClass('disabled');
                    },
                    error: function(jqXHR, textStatus, errorThrown){
                        alert(textStatus.charAt(0).toUpperCase()+textStatus.slice(1)+': '+errorThrown);
                    }
                });
            });

            function showHideInput(object){
                if(object.hasClass('fa-pencil-alt')){
                    object.siblings('p').hide();
                    object.hide();
                    object.siblings('.hidden').show();
                }else if(object.hasClass('fa-plus-square')){
                    object.siblings('.hidden').hide();
                    object.hide();
                    object.siblings('p').show();
                    object.siblings('.fa-pencil-alt').show();
                }else if(object.hasClass('fa-window-close')){
                    object.siblings('.hidden').hide();
                    object.hide();
                    object.siblings('p').show();
                    object.siblings('.fa-pencil-alt').show();
                }
            }
        });
    </script>
{% endblock %}